<!DOCTYPE html>
<html>
  <head>
    <title>Board Game</title>
    <link rel='stylesheet' href='/stylesheets/app.css' type="text/css"/>
    <link rel="icon" href="icon.png">

  </head>
  <body>

    <header>
      <h2>THE BROGRAMMERS BOARD GAME</h2>
      <h2 class="playerIndicator">Player 4</h2>
    </header>

<main>
    <div class="grid-container1">
      <div class="grid-item">
        <div id="stats">

            <div id="users-numbers">
              <p> Player 4 numbers: </p>
              <p id="numbers"> {}</p>
            </div>

            <div id="selected-num">
              <p id="current-player"> Player <u>X</u> selected: </p>
              <p id="current-num"> X </p>
            </div>
            <div id="wins">
              <hr>
              <h2>Scoreboard</h2>
              <div id="match-number">
                  <p> Match number:</p>
                  <p> <strong>X</strong> </p>
              </div>

              <p id="p1Wins"> Player 1 wins: X</p>
              <p id="p2wins"> Player 2 wins: X</p>
              <p id="p3Wins"> Player 3 wins: X</p>
              <p id="p4wins"> Player 4 wins: X</p>
            </div>

        </div>
      </div>



          <div class="grid-item">
        <div class="grid-container">
          
          <div class="even"> </div>
          <div class="odd"> P1</div>
          <div class="even">P2 </div>
          <div class="odd">P3</div>
          <div class="even">P4</div>

          <div class="odd">P1</div>
          <div class="even"></div>
          <div class="odd"></div>
          <div class="even"></div>
          <div class="odd"></div>

          <div class="even">P2</div>
          <div class="odd"></div>
          <div class="even"></div>
          <div class="odd"></div>
          <div class="even"></div>

          <div class="odd">P3</div>
          <div class="even"></div>
          <div class="odd"></div>
          <div class="even"></div>
          <div class="odd"></div>

          <div class="even">P4</div>
          <div class="odd"></div>
          <div class="even"></div>
          <div class="odd"></div>
          <div class="even"></div>
        </div>

  </div>

      <div class="grid-item">

        <div class="number-grid">
          <div class="playerNumbers" id="one" onclick='selectNumber(4, "one", 1)'>1</div>
          <div class="playerNumbers" id="two" onclick='selectNumber(4, "two", 2)'>2</div>
          <div class="playerNumbers" id="three" onclick='selectNumber(4, "three", 3)'>3</div>
          <div class="playerNumbers" id="four" onclick='selectNumber(4, "four", 4)'>4</div>
          <div class="playerNumbers" id="five" onclick='selectNumber(4, "five", 5)'>5</div>
          <div class="playerNumbers" id="six" onclick='selectNumber(4, "six", 6)'>6</div>
          <div class="playerNumbers" id="seven" onclick='selectNumber(4, "seven", 7)'>7</div>
          <div class="playerNumbers" id="eight" onclick='selectNumber(4, "eight", 8)'>8</div>
          <div class="playerNumbers" id="nine" onclick='selectNumber(4, "nine", 9)'>9</div>

          <div class="playerNumbers" id="ten" onclick='selectNumber(4, "ten", 10)'>10</div>
          <div class="playerNumbers" id="eleven" onclick='selectNumber(4, "eleven", 11)'>11</div>
          <div class="playerNumbers" id="twelve" onclick='selectNumber(4, "twelve", 12)'>12</div>
          <div class="playerNumbers" id="thirteen" onclick='selectNumber(4, "thirteen", 13)'>13</div>
          <div class="playerNumbers" id="fourteen" onclick='selectNumber(4, "fourteen", 14)'>14</div>
          <div class="playerNumbers" id="fifteen" onclick='selectNumber(4, "fifteen", 15)'>15</div>
          <div class="playerNumbers" id="sixteen" onclick='selectNumber(4, "sixteen", 16)'>16</div>
          <div class="playerNumbers" id="seventeen" onclick='selectNumber(4, "seventeen", 17)'>17</div>
          <div class="playerNumbers" id="eighteen" onclick='selectNumber(4, "eighteen", 18)'>18</div>
          <div class="playerNumbers" id="nineteen" onclick='selectNumber(4, "nineteen", 19)'>19</div>
          <div class="playerNumbers" id="twenty" onclick='selectNumber(4, "twenty", 20)'>20</div>
        </div>

      </div>

    </div>
  </main>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="data.js"></script>
    <script src="/connection"></script>
    <!-- <script src="/player1socket.js"></script> -->
  </body>
</html>
