<!DOCTYPE html>
<html>
  <head>
    <title>Board Game</title>
    <link rel='stylesheet' href='/stylesheets/app.css' type="text/css"/>
    <!-- <link rel="icon" href="alien.png"> -->
    <!-- <script src="/script.js"></script> -->
  </head>
  <body>

    <h2>The Brogrammers Board Game</h2>
    <h3>Player 1</h3>

    <div id="users-numbers">
      <p> Player 1 numbers </p>
      <p id="numbers"> {}</p>
    </div>

    <div id="selected-num">
      <p id="current-player"> Player X selected </p>
      <p id="current-num"> X </p>

    </div>



    <div class="grid-container">
      <div class="odd">1</div>
      <div class="even">2</div>
      <div class="odd">3</div>
      <div class="even">4</div>

      <div class="even">5</div>
      <div class="odd">6</div>
      <div class="even">7</div>
      <div class="odd">7</div>

      <div class="odd">9</div>
      <div class="even">10</div>
      <div class="odd">11</div>
      <div class="even">12</div>

      <div class="even">13</div>
      <div class="odd">14</div>
      <div class="even">15</div>
      <div class="odd">16</div>
    </div>
    <br>

    <div class="number-grid">
      <div id="one">1</div>
      <div id="two">2</div>
      <div id="three">3</div>
      <div id="four">4</div>
      <div id="five">5</div>
      <div id="six">6</div>
      <div id="seven">7</div>
      <div id="eight">8</div>
      <div id="nine">9</div>

      <div id="ten">10</div>
      <div id="eleven">11</div>
      <div id="twelve">12</div>
      <div id="thirteen">13</div>
      <div id="fourteen">14</div>
      <div id="fifteen">15</div>
      <div id="sixteen">16</div>
      <div id="seventeen">17</div>
      <div id="eighteen">18</div>
      <div id="nineteen">19</div>
      <div id="twenty">20</div>
    </div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js"></script>
  </body>
</html>
