body {
    background-color: antiquewhite;
    padding-right: 25%;
    padding-left: 25%;
}

h2 {
    text-align: center;
}

#board {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  height: 100px;
  width: 100px;
}
