body {
    background-color: antiquewhite;
    padding-right: 25%;
    padding-left: 25%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: aqua;
    font-size: 5em;
    color: #444;
    margin: auto;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(107, 255, 255);
}

#board {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.grid-container {
    display:  inline-grid;
    align-self: center;
    background-color: #edb85c;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows:  125px  125px  125px  125px;
    padding: 10px;
    width: 100%;
    justify-content: center;
    margin: auto;
  }
  .odd {
    background-image:  url("./Images/odd.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .even {
    background-image:  url("Images/even.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }