body {
    background-color: antiquewhite;
    padding-left: 5%;
    padding-right: 5%;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: aqua;
    font-size: 5em;
    color: #444;
    margin: auto;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
}

#users-numbers
{
  float: left;
}

#selected-num
{
  clear: both;
  float: left;
}



button:hover {
    cursor: pointer;
    background-color: rgb(107, 255, 255);
}

#board {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.grid-container {
    float: right;
    display:  inline-grid;
    align-self: center;
    background-color: #edb85c;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows:  125px  125px  125px  125px;
    padding: 10px;
    width: 50%;
    justify-content: center;
    margin: auto;
    margin-bottom: 10px;
  }
  .odd {
    background-image:  url("./Images/odd.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .even {
    background-image:  url("./Images/even.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


  .number-grid
  {
    display:  inline-grid;
    align-self: right;
    grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px 125px 125px;
    grid-template-rows:  125px  125px
    padding: 20px;
    width: 100%;
    height: 20px;
    justify-content: center;
    margin: auto;
  }

  #one
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #two
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #three
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #four
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #five
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #six
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #seven
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }
  #eight
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #nine
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #ten
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #eleven
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #twelve
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #thirteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #fourteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #fifteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #sixteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #seventeen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #eighteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #nineteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #twenty
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
