body {
    background-color: antiquewhite;

}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

button {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: aqua;
    font-size: 5em;
    color: #444;
    margin: auto;
    margin-top: 30%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
}
.grid-container1 {
    background-image:  url("./Images/wood-background.jpg");
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.85);

  padding: 20px;
  font-size: 30px;
  text-align: center;
}


#stats
{
  font-size: 20px;
}

#users-numbers
{

}








button:hover {
    cursor: pointer;
    background-color: rgb(107, 255, 255);
}

#board {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.grid-container {

    display:  inline-grid;
    align-self: center;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows:  125px  125px  125px  125px;
    padding-top: 2%;
    width: 550px;
    justify-content: center;
    margin: auto;

  }
  .odd {
    background-image:  url("./Images/odd.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .even {
    background-image:  url("./Images/even.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }


  .number-grid
  {

    display: inline-grid;
    align-self: center;
    grid-template-columns: 75px 75px;
    grid-template-rows:  55px 55px 55px 55px 55px 55px 55px 55px 55px 55px;

    width: 100%;
    height: 50px;
    justify-content: center;
    margin: auto;
    font-size: 10px;
  }

  #one
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #two
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #three
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #four
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #five
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #six
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #seven
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;

  }
  #eight
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #nine
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #ten
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #eleven
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #twelve
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #thirteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #fourteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #fifteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #sixteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #seventeen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #eighteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #nineteen
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  #twenty
  {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
