body {
    background-color: antiquewhite;
    margin: 0;
}

h2 {
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    margin-top: 40px;
    margin-left: 20px; 
    vertical-align: bottom;
    float: left;
}

h3 {
    text-align: center;
}

button {
    width: 400px;
    height: 200px;
    text-align: center;
    background-color: aqua;
    font-size: 5em;
    color: #444;
    margin: auto;
    margin-top: 15%;
    display: flex;
    justify-content: center;
    border-radius: 30px;
    border: 2px solid white;
}

header {
  background-color: black;
  width: 100%;
  height: 80px;
  margin-bottom: 1%;
}

main {
  padding-right: 50px;
  padding-left: 50px;
}

.playerIndicator {
  float: right;
  margin-right: 20px;
}

.grid-container1 {
  background-image:  url("./Images/wood-background.jpg");
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

#stats
{
  font-size: 20px;
}

#output {
  width: 200px;
  background-color: black;
  color: white;
}

button:hover {
    cursor: pointer;
    background-color: rgb(107, 255, 255);
}

#board {
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-template-columns: repeat(4, 2fr);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
}

.grid-container {
    display:  inline-grid;
    align-self: center;
    grid-template-columns: 125px 125px 125px 125px;
    grid-template-rows:  125px  125px  125px  125px;
    padding-top: 2%;
    width: 550px;
    justify-content: center;
    margin: auto;
  }

  .playergrid {
    display:  inline-grid;
    grid-template-columns: 125px;
    grid-template-rows:  125px;
    background-color: #2196F3;
    padding: 10px;
  }

  .odd {
    background-image:  url("./Images/odd.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .even {
    background-image:  url("./Images/even.jpg");
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  .number-grid
  {
    display: inline-grid;
    align-self: center;
    grid-template-columns: 75px 75px;
    grid-template-rows:  55px 55px 55px 55px 55px 55px 55px 55px 55px 55px;
    width: 100%;
    height: 50px;
    justify-content: center;
    margin: auto;
    font-size: 10px;
  }

  .playerNumbers {
    background-color: #F7F536;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

h2#join {
    text-align: center;
    color:chocolate;
    margin-top: 40px;
    margin-left: 20px; 
    vertical-align: bottom;
    float: left;
}
header {
  background-color: black;
  width: 100%;
  height: 80px;
  margin-bottom: 1%;
}
.grid-container1 {
  background-image:  url("./Images/wood-background.jpg");
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.rules{
  background-image:  url("./Images/wood-background.jpg");
  background-color: #2196F3;
  border: 2px solid black;
}
.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
div.transbox ul {

  font-weight: bold;
  color: #000000;
}
.buttonj 
{
  height:30px; 
   width:100px; 
   margin: -20px -50px; 
   position:relative;
   top:50%; 
   left:50%;
  cursor: pointer;
  text-size-adjust:auto;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: orange;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  align-content:center;
  align-items: center;
}

.buttonj:hover {background-color: orange}

.buttonj:active {
  background-color: orange;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#waitBox {
  display: inline;
}

#waitMessage {
  margin-top: 30%;
  text-align: center;
  /* float: left; */
}

#ball1 {
  margin-right: 18%;
}

#ball2 {
  animation-delay: 40ms;
  margin-right: 20%;
}

#ball3 {
  animation-delay: 80ms;
  margin-right: 22%;
}

/************************************** KEYFRAME AND ANIMATIONS ******************************************/

.ball {
  width: 12px;
  height: 12px;
  border-radius: 50%;         
  background-color: black;  
  animation: bounce 0.5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  float: right;
  margin-top: -5%;
}

@keyframes bounce{
  from { transform: translate3d(0, 0, 0);}
  to   { transform: translate3d(0, 20px, 0);}
}